<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}GiftinTech Django Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'posts' %}">Blog Posts</a></li>
          <li><a href="./registration/login.html">Login</a></li>
          <li><a href="./registration/register.html">Register</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
      {% block content %}
      <!-- content goes here -->
      {% endblock %}
    </div>

    <footer>
      <p>
        &copy; 2025
        <a href="https://giftegbonyi.vercel.app">GiftinTech</a>
        Django Blog
      </p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
